patches/ @adrbrowsiel/patch-reviewers
chromium_src/ @adrbrowsiel/patch-reviewers
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
vendor/adrbrowsiel-ios/ @kylehickinson
/README.md @bsclifton
Jenkinsfile @mihaiplesa
DEPS @bridiver

# Rewards
browser/adrbrowsiel_rewards/ @adrbrowsiel/rewards-client
browser/extensions/api/adrbrowsiel_rewards_api.cc @adrbrowsiel/rewards-client
browser/extensions/api/adrbrowsiel_rewards_api.h @adrbrowsiel/rewards-client
browser/ui/webui/adrbrowsiel_rewards_page_ui.cc @adrbrowsiel/rewards-client
browser/ui/webui/adrbrowsiel_rewards_page_ui.h @adrbrowsiel/rewards-client
browser/ui/webui/adrbrowsiel_rewards_ui.cc @adrbrowsiel/rewards-client
browser/ui/webui/adrbrowsiel_rewards_ui.h @adrbrowsiel/rewards-client
components/adrbrowsiel_rewards/ @adrbrowsiel/rewards-client
components/services/bat_ledger/ @adrbrowsiel/rewards-client
vendor/bat-native-ledger/ @adrbrowsiel/rewards-client

# Ads
browser/adrbrowsiel_ads/**/*.cc @adrbrowsiel/ads-client
browser/adrbrowsiel_ads/**/*.h @adrbrowsiel/ads-client
browser/adrbrowsiel_ads/**/*.java @adrbrowsiel/ads-client
browser/adrbrowsiel_ads/**/*.mm @adrbrowsiel/ads-client
browser/ui/adrbrowsiel_ads/**/*.cc @adrbrowsiel/ads-client
browser/ui/adrbrowsiel_ads/**/*.h @adrbrowsiel/ads-client
browser/ui/adrbrowsiel_ads/**/*.mm @adrbrowsiel/ads-client
components/adrbrowsiel_ads/**/*.cc @adrbrowsiel/ads-client
components/adrbrowsiel_ads/**/*.h @adrbrowsiel/ads-client
components/adrbrowsiel_ads/**/*.mm @adrbrowsiel/ads-client
components/services/bat_ads/**/*.cc @adrbrowsiel/ads-client
components/services/bat_ads/**/*.h @adrbrowsiel/ads-client
components/services/bat_ads/**/*.mm @adrbrowsiel/ads-client
vendor/bat-native-ads/**/*.cc @adrbrowsiel/ads-client
vendor/bat-native-ads/**/*.h @adrbrowsiel/ads-client
vendor/bat-native-ads/**/*.mm @adrbrowsiel/ads-client
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.cc @adrbrowsiel/ads-client @fmarier
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.h @adrbrowsiel/ads-client @fmarier
vendor/bat-native-ads/src/bat/ads/internal/privacy/**/*.mm @adrbrowsiel/ads-client @fmarier
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.cc @adrbrowsiel/ads-client @orspetol
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.h @adrbrowsiel/ads-client @orspetol
vendor/bat-native-ads/src/bat/ads/internal/security/**/*.mm @adrbrowsiel/ads-client @orspetol

# Network
browser/net/ @iefremov

# adrbrowsiel theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/adrbrowsiel_wayback_machine_* @simonhong
components/adrbrowsiel_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/adrbrowsiel_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/adrbrowsiel_wallet/ @adrbrowsiel/crypto-wallets
components/adrbrowsiel_wallet/ @adrbrowsiel/crypto-wallets

# adrbrowsiel Referrals Service
components/adrbrowsiel_referrals/browser/adrbrowsiel_referrals_service* @simonhong

# adrbrowsiel Sync
components/adrbrowsiel_sync/ @adrbrowsiel/sync-reviewers
components/sync/driver/ @adrbrowsiel/sync-reviewers
chromium_src/components/sync/ @adrbrowsiel/sync-reviewers
chromium_src/components/sync_device_info/device_info_sync_bridge.cc @adrbrowsiel/sync-reviewers

# Speedreader
browser/speedreader/ @iefremov
components/speedreader/* @iefremov

# P3A
browser/p3a/ @iefremov
components/adrbrowsiel_prochlo/ @iefremov
components/p3a/ @iefremov
components/weekly_storage/ @iefremov

# Perf predictor
components/adrbrowsiel_perf_predictor/ @iefremov

# Permissions
browser/permissions/**/*expiration* @goodov
browser/permissions/**/*lifetime* @goodov
components/permissions/**/*expiration* @goodov
components/permissions/**/*lifetime* @goodov

# Java patching
build/android/bytecode/ @samartnik
patches/*.java.patch @samartnik

# Bitcoin-core
third_party/bitcoin-core/BUILD.gn @orspetol

# Network auditor
build/commands/lib/whitelistedUrlPatterns.js @adrbrowsiel/sec-team
build/commands/lib/whitelistedUrlPrefixes.js @adrbrowsiel/sec-team
